<div class="container mt-2">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body card-body-product d-flex">
                    <div class="icon-container">
                        <i class="fa fa-box"></i>
                    </div>
                    <div class="text-container">
                        <p class="card-text">{{ totalProducts }}</p>
                        <h5 class="card-title">Products</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body card-body-user d-flex">
                    <div class="icon-container">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="text-container">
                        <p class="card-text">{{ totalUsers }}</p>
                        <h5 class="card-title">Users</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body card-body-blog d-flex">
                    <div class="icon-container">
                        <i class="fa fa-blog"></i>
                    </div>
                    <div class="text-container">
                        <p class="card-text">{{ totalBlogs }}</p>
                        <h5 class="card-title">Blogs</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body card-body-order d-flex">
                    <div class="icon-container">
                        <i class="fa fa-newspaper"></i>
                    </div>
                    <div class="text-container">
                        <p class="card-text">{{ totalOrders }}</p>
                        <h5 class="card-title">Orders</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body card-body-sums d-flex">
                    <div class="icon-container">
                        <i class="fa fa-chart-line"></i>
                    </div>
                    <div class="text-container">
                        <p class="card-text">{{ totalSums }}</p>
                        <h5 class="card-title">Tổng doanh thu</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: block;">
        <canvas id="canvas"></canvas>
    </div>
</div>