body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
}

.img-banner img {
    width: 100%;
    height: auto;
    display: block;
}

.slide-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-slider {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.product-slider h1 {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

.product-details {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 70vh;
    width: auto;
    background-image: url(../../assets/slider-img/home_collection_5.jpg);
}

.slide-container button{
    display: flex;
    text-align: right;
    border: none;
    font-size: 16px;
    height: auto;
    width: auto;
    padding: 8px;
    border-radius: 40px;
    background-color: rgb(5, 5, 138);
    color: #fff;
    align-items: center;
    margin-bottom: 20px;
}

.supplier {
    margin: 40px 0;
    text-align: center;
}

.supplier h1 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 10px;
}

.col-md-2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.col-md-2 img:hover {
    transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .supplier .col-md-2 {
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media (max-width: 480px) {
    .supplier .col-md-2 {
        flex: 1 1 100%;
        max-width: 100%;
    }
}