.checkout-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
/* CSS for checkout form */
.checkout-form {
    max-width: 800px; /* Điều chỉnh độ rộng của form */
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-form form {
    display: flex;
    flex-direction: column;
}

.checkout-form h3 {
    margin-bottom: 10px;
}

.checkout-form div {
    margin-bottom: 15px;
}

.checkout-form label {
    display: block;
    margin-bottom: 5px;
}

.checkout-form input[type="text"],
.checkout-form input[type="email"],
.checkout-form textarea,
.checkout-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.payment-methods {
    margin-bottom: 20px;
}

.payment-methods label {
    display: inline-block;
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between; /* Sắp xếp nút "Đặt hàng" và "Giỏ hàng" ngang nhau */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.checkout-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.checkout-form button:hover {
    background-color: #0056b3;
}


.checkout-summary {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout-summary ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.checkout-summary .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 0;
}

.checkout-summary .product-image-container {
    position: relative;
    margin-right: 15px;
}

.checkout-summary .product-image-container img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.checkout-summary .product-quantity {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(255, 56, 56);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.checkout-summary .cart-item span {
    margin-left: auto;
    font-weight: bold;
    color: #303030;
}

.checkout-summary h4 {
    margin-top: 20px;
    font-size: 18px;
    text-align: right;
    color: #333;
}

.checkout-summary div {
    padding: 10px 0;
}

.tt-price, .deli-price, .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tt-price h4, .deli-price h4, .total-price h4 {
    margin: 0;
    font-size: 16px;
}

.tt-price span, .deli-price span, .total-price span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.mat-divider {
    margin: 10px 0;
}
