<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div *ngIf="blog">
                    <div class="blog-header">
                        <h1><b>{{ blog.title }}</b></h1>
                        <p>By {{ blog.author }} | {{ blog.upDay | date:'mediumDate' }}</p>
                        <img [src]="blog.blogImg" alt="{{ blog.title }}" class="blog-image">
                    </div>
                    <div class="blog-content">
                        <p>{{ blog.content }}</p>
                    </div>
                    <div *ngIf="blog.updateDay">
                        <p>Last updated on {{ blog.updateDay | date:'mediumDate' }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <h3>Related Posts</h3>
                    <div *ngFor="let randomBlog of randomBlogs">
                        <a [routerLink]="['/page/blog-detail', randomBlog.id]" class="sidebar-link">
                            <div class="sidebar-card">
                                <img [src]="randomBlog.blogImg" alt="{{ randomBlog.title }}" class="sidebar-image">
                                <div class="sidebar-details">
                                    <h4>{{ randomBlog.title }}</h4>
                                    <p>By {{ randomBlog.author }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
