<footer id="main-footer">
  <div class="container">
    <div class="wrapper-footer">
      <div class="wrapper-menu-footer">
        <div class="column-info">
          <div class="logo-footer">
            <a href="#" aria-label="Mắt Việt" title="Mắt Việt">
              <img class="lazyload" src="../../../assets/logo_footer1.png" alt="Mắt Việt" />
            </a>
          </div>
          <div class="heading-footer">
            <h4><b>CÔNG TY TNHH MẮT VIỆT GROUP</b></h4>
          </div>
          <div class="text-info-footer">
            <p>Mắt Việt tự hào là chuỗi bán lẻ kính mắt chính hãng tại thị trường Việt Nam từ năm 1989.</p>
            <p>Hệ thống hơn 30 cửa hàng từ Bắc chí Nam tại các trung tâm thương mại lớn và các con đường sầm uất.</p>
            <p>Điểm đến tin cậy để đo mắt và tư vấn thị lực theo tiêu chuẩn quốc tế bằng những dịch vụ chăm sóc khách
              hàng tận tâm, chuyên nghiệp.</p>
          </div>
        </div>
        <div class="column-menu">
          <div class="item-column-menu">
            <div class="heading-footer">
              <h4><b>THÔNG TIN LIÊN HỆ</b></h4>
            </div>
            <div class="mobile-footer">
              <ul class="text-info-address">
                <li>
                  - SH1-08 Khu Đô Thị Sala,
                  153 Nguyễn Cơ Thạch , Phường An Lợi Đông,
                  TP. Thủ Đức, TP. Hồ Chí Minh, Việt Nam.
                </li>
                <li>- MSDN: 0314756693</li>
                <li>- Người đại diện: Trương Minh Thành</li>
                <li>- Điện thoại: 028 73006061</li>
                <li>- Email: </li>
              </ul>
            </div>
          </div>
          <div class="item-column-menu">
            <div class="heading-footer">
              <h4><b>Về Mắt Việt</b></h4>
            </div>
            <div class="mobile-footer">
              <ul class="menu-column-list">
                <li><a href="/pages/ve-mat-viet">Giới Thiệu Mắt Việt</a></li>
                <li><a href="/pages/he-thong-cua-hang">Hệ thống cửa hàng</a></li>
              </ul>
            </div>
          </div>
          <div class="item-column-menu">
            <div class="heading-footer">
              <h4><b>Chính sách</b></h4>
            </div>
            <div class="mobile-footer">
              <ul class="menu-column-list">
                <li><a href="">Điều khoản dịch vụ</a></li>
                <li><a href="">Chính sách thanh toán</a></li>
                <li><a href="">Chính sách giao hàng</a></li>
                <li><a href="">Chính sách bảo hành</a></li>
                <li><a href="">Chính sách đổi trả</a></li>
                <li><a href="">Chính sách thẻ thành viên</a></li>
              </ul>
            </div>
          </div>
          <div class="item-column-menu">
            <div class="heading-footer">
              <h4><b>Hỗ trợ khách hàng</b></h4>
            </div>
            <div class="mobile-footer">
              <ul class="menu-column-list">
                <li><a href="/pages/lien-he">Liên hệ</a></li>
                <li><a href="/blogs/tuyen-dung">Tuyển dụng</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-component-footer">
        <div class="item-column-component">
          <div class="heading-footer">
            <h4><b>KẾT NỐI VỚI MẮT VIỆT</b></h4>
          </div>
          <ul class="social-list">
            <li>
              <a href="https://www.facebook.com/Matviet.vn/" aria-label="facebook" target="_blank" title="facebook">
                  <i class="far fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/matviet.vn" aria-label="instagram" target="_blank" title="instagram">
                <i class="far fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#" aria-label="tiktok" target="_blank" title="instagram">
                <i class="far fa-tiktok"></i>
              </a>
            </li>
            <li>
              <a href="#" aria-label="linkdin" target="_blank" title="instagram">
                <i class="far fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="item-column-component">
          <div class="heading-footer">
            <h4><b>Phương thức thanh toán</b></h4>
          </div>
          <ul class="social-payment">
            <li>
              <img class="lazyload"
                data-src="https://file.hstatic.net/200000689681/file/vnpay_8318f3c267e94c8a8bd83ff4f9dbe7a4.png"
                alt="icon payment 1" />
            </li>
            <li>
              <img class="lazyload"
                data-src="https://file.hstatic.net/200000689681/file/fundiin_637c95b39e69490e850a29666ebee632.png"
                alt="icon payment 2" />
            </li>
            <li>
              <img class="lazyload"
                data-src="https://file.hstatic.net/200000689681/file/cod_0f8aa81bca3649ee8c172cc8949bbf01.png"
                alt="icon payment 3" />
            </li>
            <li>
              <img class="lazyload"
                data-src="https://file.hstatic.net/200000689681/file/visa_293258b94c9742e2a68e699826251419.png"
                alt="icon payment 4" />
            </li>
            <li>
              <img class="lazyload"
                data-src="https://file.hstatic.net/200000689681/file/mastercard_11997300309f45d0980c681f27a0690e.png"
                alt="icon payment 5" />
            </li>
          </ul>
        </div>
        <div class="item-column-component">
          <div class="heading-footer">
            <h4><b>Phương thức vận chuyển</b></h4>
          </div>
          <ul class="social-shipping">
            <li>
              <img class="lazyload"
                data-src="https://file.hstatic.net/200000689681/file/logo-grab-inkythuatso-2-01-24-09-59-49_3c832fd1acc44858a973ffe8fe2d9422.jpg"
                alt="icon payment 1" />
            </li>
            <li>
              <img class="lazyload"
                data-src="https://file.hstatic.net/200000689681/file/layer_82_copy_c98985ab54b54d959e87f8de121c07a9.png"
                alt="icon payment 2" />
            </li>
            <li>
              <img class="lazyload"
                data-src="https://file.hstatic.net/200000689681/file/_ghtk__logo_rgb_43a77308e640460fae12c2ef79a2a559.png"
                alt="icon payment 3" />
            </li>
          </ul>
        </div>

        <div class="item-column-component">
          <div class="heading-footer">
            <h4><b>CÁC CHỨNG CHỈ CỦA MẮT VIỆT</b></h4>
          </div>
          <ul class="social-certificate">
            <li>
              <a href="#"
                data-src="https://file.hstatic.net/200000689681/file/2024_loa_-_mat_viet_2f345893eb06480fa0cff3aef723ccf0.pdf"
                data-fancybox="certificate" data-type="iframe" data-caption="Chứng chỉ 1">
                <img class="lazyload"
                  data-src="https://file.hstatic.net/200000689681/file/loa_2024_82_x_115px-01_f49ae525ecbc494284037110103c1b79.png"
                  alt="Chứng chỉ 1" />
              </a>
            </li>
            <li>
              <a href="#"
                data-src="https://file.hstatic.net/200000689681/file/loa_bolon___molsion_3333922823024a6daf9db4c70886575f.pdf"
                data-fancybox="certificate" data-type="iframe" data-caption="Chứng chỉ 2">
                <img class="lazyload"
                  data-src="https://file.hstatic.net/200000689681/file/loa_bolon___molsion_3333922823024a6daf9db4c70886575f_aaafef33ce2140009e0e2350b70dbf05.jpg"
                  alt="Chứng chỉ 2" />
              </a>
            </li>
            <li>
              <a href="#"
                data-src="https://file.hstatic.net/200000689681/file/mat_viet_2024_ka_letter_-_signed_8e00a0dc6b6e4b34806d264b1f67a57a.pdf"
                data-fancybox="certificate" data-type="iframe" data-caption="Chứng chỉ 3">
                <img class="lazyload"
                  data-src="https://file.hstatic.net/200000689681/file/loa_2024_82_x_115px-02_6d7ce77a4038467a81ff3b74daa08436.png"
                  alt="Chứng chỉ 3" />
              </a>
            </li>
            <li>
              <a href="#"
                data-src="https://file.hstatic.net/200000689681/file/thuong_hieu_viet_e541caae482f405b99c0f9fed34bd0c0.pdf"
                data-fancybox="certificate" data-type="iframe" data-caption="Chứng chỉ 4">
                <img class="lazyload"
                  data-src="https://file.hstatic.net/200000689681/file/img_certificate_new_40f440e5b98a4d11aa60f3f06f3d74d2.jpeg"
                  alt="Chứng chỉ 4" />
              </a>
            </li>
          </ul>
          <a href="#" onClick="return false;" id="open_certificate">(Click để xem chi tiết)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="wrapper-footer-bottom">
        <div class="item-copyright">Copyright © 2023 Mắt Việt. All Rights Reserved.</div>
        <div class="item-copyright">Powered by Haravan Enterprise.</div>
      </div>
    </div>
  </div>
</footer>