<div>
    <h2 mat-dialog-title>Thêm loại sản phẩm mới</h2>
    <mat-dialog-content class="mat-typography" style="background-color: #fff;">
        <form [formGroup]="addcategoryForm">
            <div class="row">
                <div class="column">
                    <div class="input-row">
                        <mat-form-field>
                            <mat-label>Tên loại</mat-label>
                            <input matInput placeholder="Tên loại" formControlName="cateProdName">
                        </mat-form-field>
                    </div>
                    <div class="input-row">
                        <mat-form-field>
                            <mat-label>Mô tả</mat-label>
                            <input matInput placeholder="Mô tả" formControlName="describe">
                        </mat-form-field>
                    </div>
                    <div class="input-row">
                        <mat-checkbox formControlName="isActive">Kích hoạt</mat-checkbox>
                    </div>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="onNoClick()">Hủy</button>
        <button mat-button (click)="onSubmit()">Thêm</button>
    </mat-dialog-actions>
</div>