.mat-card {
  width: 540px; 
  margin: 20px auto; /* Khoảng cách giữa thẻ mat-card và các phần tử xung quanh */
  padding: 20px; /* Khoảng cách nội bộ của thẻ mat-card */
  box-sizing: border-box; /* Đảm bảo rằng padding không làm thay đổi kích thước tổng của thẻ */
  background-color: #fff; /* Màu nền của thẻ mat-card */
  border-radius: 8px; /* Bo góc của thẻ */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng bên dưới thẻ */
}

.mat-card-header {
  padding-bottom: 16px; 
}

.mat-card-content {
  padding-top: 16px; 
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.input-row .mat-label {
  margin-right: 16px;
}
.button-row {
  display: flex; /* Hiển thị các nút theo chiều ngang */
  justify-content: flex-end; /* Căn nút về phía cuối theo chiều ngang */
  margin-top: 20px; /* Khoảng cách giữa các nút và các phần tử khác */
}

.mat-raised-button {
  margin-left: 10px; /* Khoảng cách giữa các nút */
}
