<mat-card class="mat-card">
    <mat-card-header class="header-container">
        <h2>Sửa thông tin nhà tài trợ</h2>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="EditForm">
            <div class="input-row">
                <mat-form-field class="example-full-width">
                    <mat-label>Tên nhà tài trợ</mat-label>
                    <input matInput placeholder="Tên nhà cung cấp" formControlName="supName">
                    <mat-error *ngIf="EditForm.get('supName')?.hasError('required')">
                        Tên nhà tài trợ không được để trống
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-row">
                <mat-form-field class="example-full-width">
                    <mat-label>Tên người liên hệ</mat-label>
                    <input matInput placeholder="Tên người liên hệ" formControlName="contactPerson">
                    <mat-error *ngIf="EditForm.get('contactPerson')?.hasError('required')">
                        Tên người liên hệ không được để trống
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-row">
                <mat-form-field class="example-full-width">
                    <mat-label>Số điện thoại</mat-label>
                    <input matInput placeholder="Số điện thoại" formControlName="phoneContact">
                    <mat-error *ngIf="EditForm.get('phoneContact')?.hasError('required')">
                        Số điện thoại không được để trống
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-row">
                <mat-form-field class="example-full-width">
                    <mat-label>Địa chỉ</mat-label>
                    <input matInput placeholder="Địa chỉ" formControlName="address">
                    <mat-error *ngIf="EditForm.get('address')?.hasError('required')">
                        Địa chỉ không được để trống
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-row">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="EditForm.get('email')?.hasError('required')">
                        Email không được để trống
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-row">
                <mat-checkbox formControlName="isActive">IsActive</mat-checkbox>
            </div>

            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Cập nhật</button>
                <button mat-raised-button color="warn" type="submit" (click)="closeEdit()">Quay lại</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
